*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-color: #D1A23E;
}

body {
    background-color: #E9E9E9;
    font-family: 'Nanum Gothic', sans-serif;
}

.home {
    width: 100%;
    height: 100vh;
    background-color: #E9E9E9;
    background-image: url(./images/background.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-position-y: top; 
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

@media (min-width: 600px){
  .descript p {
    font-size: 16px;
  }
}

@media (max-width: 599px){
  .descript p {
    font-size: 12px;
  }
}

.descript {
  max-width: 30%;
  margin-left: 6%;
  text-align: justify;
}

.hello {
  color: var(--main-color)
}

.name {
  color: var(--main-color)
}


/* Background image: Photo by Leone Venter on Unsplash  */