@media only screen and (min-width: 450px) {
  .projects__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 600px) {
  .projects__container {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.projects {
  padding: 2% 5% 2% 5%;
  margin-bottom: 5%;
}

.row.project__cards {
  display: flex;
  justify-content: center;
}

.project__card {
  display: flex;
  justify-content: center;
  width: 340px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.project__card .project {
  position: relative;
  max-width: 340px;
  max-height: 340px;
}

.project__card .project .more {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.project__card .project .overlay {
  position: absolute;
  top: 0;
  bottom: 100%;
  background-color: #d1a23e;
  opacity: 90%;
  overflow: hidden;
  width: 340px;
  height: 0;
  transition: 0.5s ease;
}

.project__card .project .overlay .details {
  box-sizing: border-box;
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  color: white;
}

.project__card .project .overlay .details .description {
  font-size: 14px;
  text-align: justify;
}

.project__card .project .overlay .details .technology {
  font-size: 14px;
  text-align: left;
}

.project__card .project .overlay .details .technology .fab {
  font-size: 18px;
  margin: 0 5px 0 5px;
}

.project__card .project .overlay .details .links {
  font-size: 14px;
  text-align: left;
}

.project__card .project .overlay .details .links a {
  color: white;
  margin: 0 10px 0 10px;
}

.project__card .project .overlay .details .links a .fab {
  font-size: 20px;
}

.project__card .project .overlay .details .links a .fab:hover {
  transform: scale(1.5);
}

.project__card .project .project__img {
  width: 340px;
  height: 340px;
}

.project:hover .overlay {
  bottom: 0;
  height: 340px;
}
