
/* ---------------------------RESOLUTION < 450px--------------------------- */

@media only screen and (max-width: 450px){
  .home {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    max-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  .descript {
    max-width: 80%;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    
  }
  .descript__header {
    font-size: 16px;
  }
  .descript__p {
    font-size: 12px;
  }
  .descript__scroll{
    display: flex;
    justify-content: center;
  }
  .descript__arrow {
    float: none;
  }
  .menu__list {
    padding: 0;
    max-width: 100%;
    text-align: left;
  }
  .about {
    display: block;
  }
  .about__header {
    font-size: 16px;
  } 
  .header {
    font-size: 16px;
  }
  /* .techno__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 1 0 40%;
    margin: 2%;
  } 
  .techno__icon {
    align-self: center;
  } */
  .contact__header {
    font-size: 16px;
  }
  .contact__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .form {
    padding: 4%;
    width: 100%;
    text-align: left;
  }
  .socialmedia {
    padding: 2%;
    width: 100%;
  }

}
/* ---------------------------450px < RESOLUTION < 599px--------------------------- */

@media only screen and (min-width: 450px){
  
  .home {
     display: flex;
     flex-direction: column;
     align-items: left;
     justify-content: center;
   }
   .descript {
     max-width: 30%;
     margin-left: 2%;
   }
   .descript__header {
     font-size: 18px;
   }
   .descript__p {
     font-size: 16px;
   }
   .descript__arrow {
     float: right;
   }
   .about {
    display: block;
   }
   .about__header {
    font-size: 18px;
  }
   .header {
    font-size: 18px;
  }
   /* .techno__item {
    flex: 1 0 21%;
    height: 150px;
  } */
  .socialmedia {
    width: 30%; 
  }
  

    /* --------------Projects-------------- */
  .projects__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contact__header {
    font-size: 18px;
  }
  .contact__info {
    display: flex;
    flex-direction: row-reverse;
  }
  .form {
    width: 70%;
    text-align: right;
  }
  
 }
/* ---------------------------RESOLUTION > 600px--------------------------- */

@media only screen and (min-width: 600px){

  /* --------------Home section-------------- */
  .home {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
  .descript {
    max-width: 30%;
    margin-left: 6%;
  }
  .descript__header {
    font-size: 42px;
  }
  .descript__p {
    font-size: 20px;
  }
  .descript__arrow {
    float: right;
  }

    /* --------------About me section-------------- */
  .about {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
  }
  .about__me{
  width: 40%;
  }
  .about__header {
    font-size: 20px;
  }
  .about__techno {
    width: 60%;
  }
  .header {
    font-size: 20px;
  }
  /* .techno__item {
    flex: 1 0 21%;
    height: 150px;
  } */
/* --------------Projects-------------- */
  .projects__container {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact__info {
    display: flex;
    flex-direction: row-reverse;
  }
  .contact__header {
    font-size: 20px;
  }
  .socialmedia {
    width: 30%; 
  }
  .form {
    width: 70%;
    text-align: right;
  }

}

/* ----------------------------GLOBAL---------------------------- */

/* .descript {
  text-align: justify;
}
.descript__header {
  color: var(--main-color)
}
.name {
  color: var(--main-color)
} */

/* SCROLL ANIMATION */

.descript__arrow {
  position: relative;
  animation-name: scrollanimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
@keyframes scrollanimation {
  0% { opacity: 100%; left: 0px; top: 0px}
  10% {opacity: 90%; left: 0px; top: 5px}
  20% {opacity: 80%; left: 0px; top: 10px}
  30% {opacity: 70%; left: 0px; top: 15px}
  40% {opacity: 60%; left: 0px; top: 20px}
  50% {opacity: 50%; left: 0px; top: 25px}
  60% {opacity: 40%; left: 0px; top: 30px}
  70% {opacity: 30%; left: 0px; top: 35px}
  80% {opacity: 20%; left: 0px; top: 40px}
  90% {opacity: 10%; left: 0px; top: 45px}
  100% {opacity: 0; left: 0px; top: 50px}
}


/* ABOUT SECTION */

/* ABOUT ME */
.about__me {
  color: white;
  padding: 5% 5% 2% 2%;
  text-align: justify;
}

.about__header {
  margin-bottom: 10%;
}

.about__p {
  padding: 2.5% 0 2.5% 0;
}

.about__techno {
  padding: 5% 4% 2% 5%;
}

/* TECHNOLOGIES */


.techno__item {
  text-align: center;
}

.techno__icon {
  max-width: 64px;
}
.techno__item:hover {
  position: relative;
  transition: all .2s ease-in-out; 
  transform: scale(1.3);
  animation: floattext 2s inifnite;
}

.item__span {
  display: none;
  position: relative;
  animation: floattext 0.5s;
  animation-play-state: paused;
  color: var(--main-color);
}
.techno__item:hover > .item__span{
  display: block;
  position: relative;
  animation-play-state: running;
}

@keyframes floattext{
  0% { opacity: 0; top: 20px}
  50% {opacity: 100%; top: 10px}
  100% {opacity: 100%; top: 0px}
}

/* PROJECTS SECTION */

.projects {
  padding: 2% 5% 2% 5%;
  margin-bottom: 5%;
}
.projects__card {
  margin-top: 5%;
  text-align: center;
  max-width: 330px;
  background-color: #F5F5F5;
  box-shadow: 10px 10px 5px 0px rgba(179,173,179,0.53);
}
.projects_foto {
  max-width: 330px;
  width: 100%;
  height: auto;
}
.projects__title {
  color: var(--main-color);
  padding: 2%;
}
.projects__info {
  padding: 2% 4% 2% 4%;
  text-align: justify;
}
.projects__details {
  padding: 2% 4% 2% 4%;
  text-align: justify;
}

/* FOOTER */

.contact__header {
  color: white;
}
.contact {
  padding: 2% 5% 2% 5%;
  background-color: var(--main-color);
}
.form__name {
  max-width: 200px;
  width: 100%;
  height: 30px;
  opacity: 80%;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 8px;
}
.form__email {
  max-width: 290px;
  width: 100%;
  height: 30px;
  opacity: 80%;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 8px;
}
.form__textarea {
  max-width: 500px;
  width: 100%;
  opacity: 80%;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 8px;
}

.form__button {
  background-color: white;
  opacity: 80%;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 8px
}

.socialmedia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.socialmedia img {
  max-width: 32px;
  width: 100%;
}

.socialmedia img:hover{
  transition: all .2s ease-in-out; 
  transform: scale(1.5);
}

/* Background image: Photo by Leone Venter on Unsplash  */
/* Photo by Daniel Korpai on Unsplash */